@import "tailwindcss/base";

@import "tailwindcss/components";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header.banner {
  background-image: url(/vectors/banner-vector.svg);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  transition: top ease-in-out .3s;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.navbar.hidden {
  transform: translateY(-110%);
}

.about .intro {
  background: url(/vectors/origami-1.svg) bottom left, 
              url(/vectors/origami-2.svg) top right;
  background-repeat: no-repeat;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.contact {
  background: url(/vectors/cube-vect.svg) bottom left, 
              url(/vectors/stick-vect.svg) bottom right;
  background-repeat: no-repeat;
}

.contact .contact-message {
  background: url(/vectors/poly-vect.svg) bottom left;
  background-repeat: no-repeat;
}

@import "tailwindcss/utilities";
